<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="shortcut icon" href="/pics/icone.ico"  />
    <title>Cadastro</title>
</head>
<body>
    <div id = "logo">  
        <img src="/pics/logo_teste.png" alt="PopFlix">
    </div>
    <div id = "cadastrar">
        <h1 id="login">CADASTRO</h1>
    <form action="login.htm">
        <div class="form-group">
            <label for="exampleInputName1">Nome</label>
            <input type="text" class="form-control" id="exampleInputName1" placeholder="Seu nome">
        </div>
        <div class="form-group">
            <label for="exampleInputSobrenome1">Sobrenome</label>
            <input type="text" class="form-control" id="exampleInputSobrenome1" placeholder="Sobrenome">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Endereço de email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
        </div>
        <div id="button">
            <button type="submit" class="btn btn-primary">Cadastrar-se</button>
        </div>
        <small>Já possui login?</small>
        <a href="login.htm">Login</a>
    </form>
    </div>
    <div class="Rodape">
        <div><small>Todos os Direitos reservados a Vitor Lage</small></div>
        <small>Manaus-AM 2020</small>
    </div>
</body>
</html>