<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="shortcut icon" href="/pics/icone.ico"  />
    <title>PopFlix</title>
</head>
<body>
    <div class="geral">
        <header>
            <div class = "logo_head">  
                <img src="/pics/logo_teste.png" alt="PopFlix">
            </div>
            <div class = "links">
                <a href="adicionarSessao.html">Adicionar Sessão</a>
                <i>-</i>
                <a class="atual" href="">Editar Sessão</a>
            </div>
        </header>
        <div class="lista-de-compras">
            <h1>Lista de Sessões</h1>
        </div>
        <div class="grid-container">  
            <div class="filme">
                <h2>Sala 01</h2>
                <div class="sala">
                    <img src="/pics/filmes/vingadores.png" alt="Os Vingadores">
                    <b><i>Os Vigadores</i></b>
                    <form action="">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Preço Ticket (Inteira)</label>
                            <input type="text" class="form-control" placeholder="10,00 R$">
                        </div>
                        <div class="button">
                            <button type="submit" class="btn btn-primary salvar">Salvar</button>
                            <button type="submit" class="btn btn-primary deletar">Deletar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="filme">
                <h2>Sala 02</h2>
                <div class="sala">
                    <img src="/pics/filmes/godzilla.png" alt="Os Vingadores">
                    <b><i>Godzilla</i></b>        
                    <form action="">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Preço Ticket (Inteira)</label>
                            <input type="text" class="form-control" placeholder="10,00 R$">
                        </div>
                        <div class="button">
                            <button type="submit" class="btn btn-primary salvar">Salvar</button>
                            <button type="submit" class="btn btn-primary deletar">Deletar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="filme">
                <h2>Sala 03</h2>
                <div class="sala">
                    <img src="/pics/filmes/wonderwoman.png" alt="Os Vingadores">
                    <b><i>Mulher Maravilha</i></b>        
                    <form action="">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Preço Ticket (Inteira)</label>
                            <input type="text" class="form-control" placeholder="10,00 R$">
                        </div>
                        <div class="button">
                            <button type="submit" class="btn btn-primary salvar">Salvar</button>
                            <button type="submit" class="btn btn-primary deletar">Deletar</button>
                        </div>
                    </form>
                </div>
        </div>
        <div class="filme">
            <h2>Sala 04</h2>
            <div class="sala">
                <img src="/pics/filmes/itacoisa.png" alt="Os Vingadores">
                <b><i>It a Coisa</i></b>        
                <form action="">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Preço Ticket (Inteira)</label>
                        <input type="text" class="form-control" placeholder="10,00 R$">
                    </div>
                    <div class="button">
                        <button type="submit" class="btn btn-primary salvar">Salvar</button>
                        <button type="submit" class="btn btn-primary deletar">Deletar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="filme">
            <h2>Sala 05</h2>
            <div class="sala">
                <img src="/pics/filmes/orgulho.png" alt="Os Vingadores">
                <b><i>Orgulho e Preconceito</i></b>        
                <form action="">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Preço Ticket (Inteira)</label>
                        <input type="text" class="form-control" placeholder="10,00 R$">
                    </div>
                    <div class="button">
                        <button type="submit" class="btn btn-primary salvar">Salvar</button>
                        <button type="submit" class="btn btn-primary deletar">Deletar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="filme">
            <h2>Sala 06</h2>
            <div class="sala">
                <img src="/pics/filmes/vivaavida.png" alt="Os Vingadores">
                <b><i>Viva a Vida é uma Festa</i></b>        
                <form action="">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Preço Ticket (Inteira)</label>
                        <input type="text" class="form-control" placeholder="10,00 R$">
                    </div>
                    <div class="button">
                        <button type="submit" class="btn btn-primary salvar">Salvar</button>
                        <button type="submit" class="btn btn-primary deletar">Deletar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="espaco"></div>
    <div class="Rodape">
        <div><small>Todos os Direitos reservados a Vitor Lage</small></div>
        <small>Manaus-AM 2020</small>
    </div>
</div>
</body>
</html>