<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="shortcut icon" href="/pics/icone.ico"  />
    <title>Login</title>
</head>
<body>
    <div id = "logo">  
        <img src="/pics/logo_teste.png" alt="PopFlix">
    </div>
    <div id = "cadastrar">
        <h1 id="login">LOGIN ADM</h1>
        <form action="adicionarSessao.html">
            <div class="form-group">
              <label for="exampleInputEmail1">Seu ID</label>
              <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ex.:123456789">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Senha</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
            </div>
            <div id="button">
                <button type="submit" class="btn btn-primary">Sing in</button>
            </div>
            <div><small>Cliente?</small><a href="login.htm"> Clique aqui</a> </div>
        </form>
    </div>
    <div class="Rodape">
        <div><small>Todos os Direitos reservados a Vitor Lage</small></div>
        <small>Manaus-AM 2020</small>
    </div> 
</body>
</html>