<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="shortcut icon" href="/pics/icone.ico"  />
    <title>PopFlix</title>
</head>
<body>
    <header>
        <div class = "logo_head">  
            <img src="/pics/logo_teste.png" alt="PopFlix">
        </div>
        <div class = "links">
            <a class = "" href="comprarticket.html">Voltar</a>
        </div>
    </header>
    <div class="nova-sessao pagamento">
        <h1>Pagamento</h1>
        <div class="assentos">
            <div class="grid-container cadeiras">
                <div class="a1">
                    <button type="button" class="b1">a01</button>
                </div>
                <div class="a1">
                    <button type="button" class="b2" disabled>a02</button>
                </div>
                <div class="a1">
                    <button type="button" class="b1">a03</button>
                </div>
                <div class="a1">
                    <button type="button" class="b1">a04</button>
                </div>
                <div class="a1">
                    <button type="button" class="b1">a05</button>
                </div>
                <div class="a1">
                    <button type="button" class="b2" disabled>b01</button>
                </div>
                <div class="a1">
                    <button type="button" class="b2" disabled>b02</button>
                </div>
                <div class="a1">
                    <button type="button" class="b1">b03</button>
                </div>
                <div class="a1">
                    <button type="button" class="b1">b04</button>
                </div>
                <div class="a1">
                    <button type="button" class="b1">b05</button>
                </div>
                <div class="a1">
                    <button type="button" class="b1">c01</button>
                </div>
                <div class="a1">
                    <button type="button" class="b1">c02</button>
                </div>
                <div class="a1">
                    <button type="button" class="b1">c03</button>
                </div>
                <div class="a1">
                    <button type="button" class="b1">c04</button>
                </div>
                <div class="a1">
                    <button type="button" class="b2" disabled>c05</button>
                </div>
                <div class="a1">
                    <button type="button" class="b1">d01</button>
                </div>
                <div class="a1">
                    <button type="button" class="b1">d02</button>
                </div>
                <div class="a1">
                    <button type="button" class="b1">d03</button>
                </div>
                <div class="a1">
                    <button type="button" class="b2" disabled>d04</button>
                </div>
                <div class="a1">
                    <button type="button" class="b1">d05</button>
                </div>
                <div class="a1">
                    <button type="button" class="b2" disabled>e01</button>
                </div>
                <div class="a1">
                    <button type="button" class="b1">e02</button>
                </div>
                <div class="a1">
                    <button type="button" class="b1">e03</button>
                </div>
                <div class="a1">
                    <button type="button" class="b1">e04</button>
                </div>
                <div class="a1">
                    <button type="button" class="b2" disabled>e05</button>
                </div>
            </div>
        </div>
        <div class="tela"></div>
        <form action="comprarticket.html">
            <div class="tipo-ticket">
                <label for="tipoticket">Tipo Ticket : </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Inteira</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Meia</label>
                  </div>
                  <div>
                      <small>(Marque apenas uma opção)</small>
                  </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Numero do cartao</label>
                <input type="text" class="form-control" placeholder="Numero">
              </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Código de segurança</label>
              <input type="text" class="form-control" placeholder="Numero de tres digitos">
            </div>
            <div class="preco">
                <div>
                    <b>10,00 R$ (Inteira)</b>
                </div>
                <div>
                    <b>5,00 R$ (Meia)</b>
                </div>
            </div>
            <div id="button-4">
                <button type="submit" class="btn btn-primary">Efetuar Pagamento</button>
            </div>
        </form>
    </div>
    <div class="Rodape">
        <div><small>Todos os Direitos reservados a Vitor Lage</small></div>
        <small>Manaus-AM 2020</small>
    </div>
</body>
</html>